@charset "UTF-8";

@font-face {
  font-family: "cruid";
  src:url("cruid-assets?path=fonts/cruid.eot");
  src:url("cruid-assets?path=fonts/cruid.eot?#iefix") format("embedded-opentype"),
    url("cruid-assets?path=fonts/cruid.woff") format("woff"),
    url("cruid-assets?path=fonts/cruid.ttf") format("truetype"),
    url("cruid-assets?path=fonts/cruid.svg#cruid") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cruid" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cruid-"]:before,
[class*=" cruid-"]:before {
  font-family: "cruid" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cruid-bread:before {
  content: "\61";
}
.cruid-helm:before {
  content: "\62";
}
.cruid-play:before {
  content: "\63";
}
.cruid-activity:before {
  content: "\64";
}
.cruid-company:before {
  content: "\65";
}
.cruid-file-text:before {
  content: "\66";
}
.cruid-folder:before {
  content: "\67";
}
.cruid-paw:before {
  content: "\68";
}
.cruid-sort:before {
  content: "\6f";
}
.cruid-sort-asc:before {
  content: "\70";
}
.cruid-sort-desc:before {
  content: "\71";
}
.cruid-handle:before {
  content: "\6d";
}
.cruid-hammer:before {
  content: "\6e";
}
.cruid-images:before {
  content: "\69";
}
.cruid-categories:before {
  content: "\6a";
}
.cruid-group:before {
  content: "\6b";
}
.cruid-person:before {
  content: "\73";
}
.cruid-people:before {
  content: "\74";
}
.cruid-power:before {
  content: "\75";
}
.cruid-tools:before {
  content: "\76";
}
.cruid-anchor:before {
  content: "\77";
}
.cruid-double-down:before {
  content: "\78";
}
.cruid-double-up:before {
  content: "\79";
}
.cruid-double-left:before {
  content: "\7a";
}
.cruid-double-right:before {
  content: "\41";
}
.cruid-window-list:before {
  content: "\42";
}
.cruid-x:before {
  content: "\43";
}
.cruid-dot:before {
  content: "\44";
}
.cruid-dot-2:before {
  content: "\45";
}
.cruid-dot-3:before {
  content: "\46";
}
.cruid-list:before {
  content: "\47";
}
.cruid-list-add:before {
  content: "\48";
}
.cruid-pie-chart:before {
  content: "\49";
}
.cruid-watch:before {
  content: "\4a";
}
.cruid-data:before {
  content: "\4b";
}
.cruid-music:before {
  content: "\4c";
}
.cruid-settings:before {
  content: "\4e";
}
.cruid-video:before {
  content: "\4f";
}
.cruid-trash:before {
  content: "\50";
}
.cruid-tv:before {
  content: "\51";
}
.cruid-lock:before {
  content: "\52";
}
.cruid-news:before {
  content: "\4d";
}
.cruid-bag:before {
  content: "\53";
}
.cruid-upload:before {
  content: "\54";
}
.cruid-refresh:before {
  content: "\55";
}
.cruid-character:before {
  content: "\57";
}
.cruid-move:before {
  content: "\58";
}
.cruid-paypal:before {
  content: "\56";
}
.cruid-paper-plane:before {
  content: "\59";
}
.cruid-ticket:before {
  content: "\5a";
}
.cruid-youtube-play:before {
  content: "\30";
}
.cruid-boat:before {
  content: "\31";
}
.cruid-check:before {
  content: "\6c";
}
.cruid-alarm-clock:before {
  content: "\32";
}
.cruid-controller:before {
  content: "\34";
}
.cruid-pizza:before {
  content: "\35";
}
.cruid-backpack:before {
  content: "\36";
}
.cruid-barbeque:before {
  content: "\37";
}
.cruid-bomb:before {
  content: "\38";
}
.cruid-book-download:before {
  content: "\39";
}
.cruid-browser:before {
  content: "\21";
}
.cruid-brush:before {
  content: "\22";
}
.cruid-bubble-hear:before {
  content: "\23";
}
.cruid-polaroid:before {
  content: "\24";
}
.cruid-crop:before {
  content: "\26";
}
.cruid-dashboard:before {
  content: "\27";
}
.cruid-hotdog:before {
  content: "\28";
}
.cruid-laptop:before {
  content: "\29";
}
.cruid-paint-bucket:before {
  content: "\2c";
}
.cruid-photo:before {
  content: "\2d";
}
.cruid-photos:before {
  content: "\2e";
}
.cruid-receipt:before {
  content: "\2f";
}
.cruid-buy:before {
  content: "\3a";
}
.cruid-lightbulb:before {
  content: "\3b";
}
.cruid-archive:before {
  content: "\3f";
}
.cruid-paperclip:before {
  content: "\40";
}
.cruid-warning:before {
  content: "\5b";
}
.cruid-basket:before {
  content: "\5d";
}
.cruid-bell:before {
  content: "\5e";
}
.cruid-book:before {
  content: "\5f";
}
.cruid-chat:before {
  content: "\60";
}
.cruid-down-circled:before {
  content: "\7b";
}
.cruid-location:before {
  content: "\7d";
}
.cruid-forward:before {
  content: "\7e";
}
.cruid-flashlight:before {
  content: "\5c";
}
.cruid-trophy:before {
  content: "\e001";
}
.cruid-diamond:before {
  content: "\e002";
}
.cruid-credit-cards:before {
  content: "\e003";
}
.cruid-shop:before {
  content: "\e004";
}
.cruid-sound:before {
  content: "\e005";
}
.cruid-study:before {
  content: "\e006";
}
.cruid-pen:before {
  content: "\e007";
}
.cruid-params:before {
  content: "\e008";
}
.cruid-fire:before {
  content: "\e009";
}
.cruid-dollar:before {
  content: "\e00a";
}
.cruid-bulb:before {
  content: "\e00b";
}
.cruid-lab:before {
  content: "\e00c";
}
.cruid-cup:before {
  content: "\e00d";
}
.cruid-megaphone:before {
  content: "\e00e";
}
.cruid-heart:before {
  content: "\e00f";
}
.cruid-bubble:before {
  content: "\e011";
}
.cruid-search:before {
  content: "\e012";
}
.cruid-tag:before {
  content: "\e013";
}
.cruid-world:before {
  content: "\25";
}
.cruid-camera:before {
  content: "\2a";
}
.cruid-calendar:before {
  content: "\7c";
}
.cruid-mail:before {
  content: "\e014";
}
.cruid-phone:before {
  content: "\e015";
}
.cruid-star:before {
  content: "\e016";
}
.cruid-star-half:before {
  content: "\e017";
}
.cruid-star-half-1:before {
  content: "\e018";
}
.cruid-star-two:before {
  content: "\e019";
}
.cruid-medal-rank-star:before {
  content: "\e01a";
}
.cruid-facebook:before {
  content: "\e01b";
}
.cruid-google-plus:before {
  content: "\e01c";
}
.cruid-twitter:before {
  content: "\e01d";
}
.cruid-github:before {
  content: "\e01e";
}
.cruid-code:before {
  content: "\e01f";
}
.cruid-pie-graph:before {
  content: "\e020";
}
.cruid-javascript:before {
  content: "\e021";
}
.cruid-wand:before {
  content: "\e022";
}
.cruid-wineglass:before {
  content: "\e023";
}
.cruid-milestone:before {
  content: "\e024";
}
.cruid-terminal:before {
  content: "\e025";
}
.cruid-plug:before {
  content: "\e026";
}
.cruid-gift:before {
  content: "\e027";
}
.cruid-markdown:before {
  content: "\e028";
}
.cruid-beer:before {
  content: "\e029";
}
.cruid-credit-card:before {
  content: "\e02a";
}
.cruid-bolt:before {
  content: "\e02b";
}
.cruid-external:before {
  content: "\e02c";
}
.cruid-magnet:before {
  content: "\e02d";
}
.cruid-certificate:before {
  content: "\e02e";
}
.cruid-cloud-download:before {
  content: "\e02f";
}
.cruid-campfire:before {
  content: "\e030";
}
.cruid-new:before {
  content: "\e031";
}
.cruid-skull:before {
  content: "\e032";
}
.cruid-telephone:before {
  content: "\e033";
}
.cruid-trees:before {
  content: "\e034";
}
.cruid-bar-chart:before {
  content: "\e035";
}
.cruid-check-circle:before {
  content: "\e036";
}
.cruid-exclamation:before {
  content: "\e037";
}
.cruid-font:before {
  content: "\e03a";
}
.cruid-puzzle:before {
  content: "\e03b";
}
.cruid-smile:before {
  content: "\e03c";
}
.cruid-frown:before {
  content: "\e03d";
}
.cruid-meh:before {
  content: "\e03e";
}
.cruid-leaf:before {
  content: "\e03f";
}
.cruid-info-circled:before {
  content: "\e040";
}
.cruid-underline:before {
  content: "\e041";
}
.cruid-wallet:before {
  content: "\e042";
}
.cruid-truck:before {
  content: "\e043";
}
.cruid-eye:before {
  content: "\e044";
}
.cruid-sun:before {
  content: "\e045";
}
.cruid-barbell:before {
  content: "\e04a";
}
.cruid-bookmark:before {
  content: "\e04c";
}
.cruid-volume-up:before {
  content: "\e04d";
}
.cruid-volume-down:before {
  content: "\e04e";
}
.cruid-wifi:before {
  content: "\e04f";
}
.cruid-pause:before {
  content: "\e053";
}
.cruid-resize-full:before {
  content: "\e054";
}
.cruid-resize-small:before {
  content: "\e055";
}
.cruid-download:before {
  content: "\e056";
}
.cruid-droplet:before {
  content: "\e057";
}
.cruid-umbrella:before {
  content: "\e058";
}
.cruid-harddrive:before {
  content: "\e059";
}
.cruid-css3:before {
  content: "\e05a";
}
.cruid-html5:before {
  content: "\e05b";
}
.cruid-tree:before {
  content: "\e05e";
}
.cruid-file-code:before {
  content: "\e061";
}
.cruid-bug:before {
  content: "\e062";
}
.cruid-rocket:before {
  content: "\e063";
}
.cruid-key:before {
  content: "\33";
}
.cruid-question:before {
  content: "\2b";
}
.cruid-cursor:before {
  content: "\3c";
}
.cruid-lifebuoy:before {
  content: "\3d";
}
.cruid-thumbs-up:before {
  content: "\3e";
}
.cruid-thumb-tack:before {
  content: "\e000";
}
.cruid-edit:before {
  content: "\e010";
}
.cruid-angle-down:before {
  content: "\e038";
}
.cruid-angle-left:before {
  content: "\e039";
}
.cruid-angle-right:before {
  content: "\e046";
}
.cruid-angle-up:before {
  content: "\e047";
}
.cruid-home:before {
  content: "\e048";
}
.cruid-pirate-swords:before {
  content: "\e04b";
}
.cruid-pirate:before {
  content: "\e050";
}
.cruid-rum:before {
  content: "\e051";
}
.cruid-cannon:before {
  content: "\e049";
}
.cruid-hook:before {
  content: "\e052";
}
.cruid-kraken:before {
  content: "\e05c";
}
.cruid-lighthouse:before {
  content: "\e05d";
}
.cruid-pirate-hat:before {
  content: "\e05f";
}
.cruid-rum-1:before {
  content: "\e060";
}
.cruid-ship:before {
  content: "\e064";
}
.cruid-treasure:before {
  content: "\e065";
}
.cruid-treasure-open:before {
  content: "\e066";
}
.cruid-whale:before {
  content: "\e067";
}
.cruid-compass:before {
  content: "\e068";
}
.cruid-logbook:before {
  content: "\e069";
}
.cruid-plus:before {
  content: "\e06a";
}
.cruid-documentation:before {
  content: "\72";
}
.cruid-belt:before {
  content: "\e06b";
}
.cruid-zoom-in:before {
  content: "\e06c";
}
.cruid-zoom-out:before {
  content: "\e06d";
}
.cruid-scissors:before {
  content: "\e06e";
}
.cruid-github-icon:before {
  content: "\e06f";
}
